#
# This is a template file for the credentials properties file. Developers
# should make a copy of this file and rename it to 'credentials.properties'.
#

dev.sl.endpoint.nearbystops.key=replace-me
dev.sl.endpoint.realtimeDepartures.key=replace-me